body {
    margin: 5%;
}
#response{
    color: red;
}
.flex{
    width: 100%;
    display: flex;
    margin: 0%;
    padding:0%
}
#side_div{
    margin-left: 5%;
}

.btn#skip{
    background-color:lightskyblue;
}
.btn#djable{
    background-color:lightgreen;
}
.btn#notdjable{
    background-color:pink;
}
.btn#notdjable__skip{
    background-color:indianred;
}